.app-info {
	padding: 25px;
	background-color: #065620;
	border-radius: 4px;
	box-shadow: 15px 0px 30px 0 #c1c1c1;
	color: #fff;
}

h1 {
	font-size: 50px;
	margin: 0;
	padding: 0;
	text-align: center;
	margin-bottom: 20px;
}

h2 {
	font-size: 30px;
	margin: 0;
	padding: 0;
	margin-bottom: 5px;
}