.list-group-item {
	padding: 15px 20px;
	border-bottom: 1px solid #cccccc;
}

.list-group-item span {
	line-height: 35px;
	font-size: 20px;
	min-width: 550px;
	cursor: pointer;
}

.list-group-item input {
	width: 100px;
	line-height: 35px;
	font-size: 20px;
	text-align: center;
	border: 0;
}

.list-group-item button {
	width: 35px;
	height: 35px;
	margin: 3px;
	font-size: 17px;
	border: none;
	cursor: pointer;
	background-color: transparent;
}

.list-group-item .btn-cookie {
	color: #fa9f15;
}

.list-group-item .btn-delete {
	color: #f6191c;
}

.list-group-item.increase .list-group-item-label, .list-group-item.increase .list-group-input {
	color: #fa9f15;
}